<main class="container">

  <div class="row">
    {{!-- 側邊欄 --}}
    {{> admin-left-bar route='tweets'}}

    <div class="col-6 admin-middle-div">
      <nav class="navbar navbar-light border-start border-end">
        <div class="container-fluid">
          <h4 class="navbar-brand mb-0 h1 fs-4 ">推文清單</h4>
        </div>
      </nav>

      {{!-- 推文串 --}}
      <ul class="list-group">
        {{#each tweets}}
        <li class="list-group-item">
          <div class="d-flex flex-column pt-2" style="min-height: 130px;  position: relative;">
            <div class="align-self-start" style="max-width: 100%;">
              <img src="{{this.User.avatar}}" title="source: imgur.com" style="width: 50px;height: 50px; border-radius: 50px;" class="ms-4">
              <div class="d-inline-flex pt-3">
                <h5 class="mx-2 name-text">{{this.User.name}}</h5>
                <span class="account-text">@{{this.User.account}} · {{relativeTimeFromNow this.createdAt}}</span>
              </div>
              <div class="d-inline-flex" style="position: absolute; right: 20px;">
                <form action="/admin/tweets/{{this.id}}?_method=DELETE" method="post">
                  <button type="submit" style="border:none; background-color:transparent;" onclick="return confirm(`確定要刪除這則推文嗎？`)">
                    <i class="fa-regular fa-trash-can"></i>
                  </button>
                </form>
              </div>
            </div>
            <div style="max-width: 855px">
              <p style="margin-left: 85px;">{{this.description}}</p>
            </div>
            {{#if this.image}}
            <div style="max-width: 500px; max-height:500px; margin-top: 10px; margin-left: 84px;">
              <img src="{{this.image}}" title="source: imgur.com" class="img-thumbnail"
                style="border-radius:16px; max-width: 100%; max-height: 100%;"/>
            </div>
            {{/if}}
          </div>
        </li>
        {{/each}}
      </ul>

    </div>
  </div>
</main>