<main class="container">
  <div class="row">
    {{>left-bar route='tweets'}}

    <div class="col-md-6" style="max-width: 639px; margin-left: 278px">
      <nav class="navbar navbar-light border-start border-end">
        <a href="/tweets" class="dark-text" style="text-decoration: none;">
          <div class="container-fluid" style="height:59px; margin: 16px 0px 0px 0px;">
            <i class="fa-solid fa-arrow-left d-inline" style="font-size: 1.2em; margin-right: 10px"></i>
            <h4 class="navbar-brand mb-0 h1 fs-4 d-inline"> 推文
            </h4>
          </div>
        </a>
      </nav>

      <div class="d-flex flex-column">
        {{!-- 貼文 --}}
        <div class="d-flex flex-column border p-3" style="width:100%;">
          <div class="d-flex">
            <a href="/users/{{tweet.User.id}}/tweets" style="text-decoration: none;">
              <img class="rounded-circle" src="{{#if tweet.User.avatar}}{{tweet.User.avatar}}{{else}}https://i.imgur.com/hepj9ZS_d.webp?maxwidth=760&fidelity=grand{{/if}}" style="width: 50px;height: 50px;" />
            </a>
            <div class="ms-2">
              <a href="/users/{{tweet.User.id}}/tweets" style="text-decoration: none;">
                <h5 class="name-text" style="margin-bottom: 0px;">{{tweet.User.name}}</h5>
                <span class="account-text" style="font-size: 14px">@ {{tweet.User.account}}</span>
              </a>
              <span class="gray-text" style="font-size: 14px; margin-left: 20px;">{{formatDateTime tweet.createdAt}}</span>
            </div>
          </div>
          <div class="mt-3">
            <p class="desc-text" style="font-size: 1.5em;" class="mt-2 text-break">{{tweet.description}}</p>
            {{#if tweet.image}}
            <div style="max-width: 500px; max-height:500px; margin-top: 10px; margin-left: 40px;">
              <img src="{{tweet.image}}" title="source: imgur.com" class="img-thumbnail"
                style="border-radius:16px; max-width: 100%; max-height: 100%;" alt="tweet-image"/>
            </div>
            {{/if}}
            
          </div>
          
        </div>

        {{!-- 喜歡、留言次數 --}}
        <div style="font-size: 19px; font-weight: 700; height:50px;" class="border-start border-end">
          <div style="margin-top:8px; margin-left: 10px;">
            <span>{{tweet.repliesCount}}</span><span class="gray-text" style="font-weight:500; margin-right: 15px;"> 回覆</span>
            <span>{{tweet.likesCount}}</span><span class="gray-text" style="font-weight:500"> 喜歡次數</span>
          </div>
        </div>

        {{!-- icon --}}
        <div class="border" style="height: 60px; padding: 15px;">
          <i class="fa-regular fa-message fa-xl" data-bs-toggle="modal" data-bs-target="#replyTweet{{tweet.id}}"></i>
          {{#if tweet.isLiked}}
          <form action="/tweets/{{tweet.id}}/unlike" method="POST" class="d-inline" style="margin-left: 60px">
              <button type="submit" style="background: none; border: none; cursor: pointer;">
                <i class="fa-solid fa-heart fa-xl" style="color: #e84545;"></i>
              </button>
            </form>
          {{else}}
          <form action="/tweets/{{tweet.id}}/like" method="POST" class="d-inline" style="margin-left: 60px">
            <button type="submit" style="background: none; border: none; cursor: pointer; padding-top:0px">
              <i class="fa-regular fa-heart fa-xl"></i>
            </button>
          </form>
          {{/if}}
        </div>
        {{> reply-modal}}
        <div id="tweet-scroll">
          {{!-- 留言串 --}}
          {{#each replies}}
          <div class="d-flex flex-column flex-wrap justify-content-center mb-2 border-start border-bottom border-end" style="min-height: 130px;">
            <div class="d-inline-flex">
              <a href="/users/{{this.User.id}}/tweets" style="text-decoration: none;">
                <img src="{{#if this.User.avatar}}{{this.User.avatar}}{{else}}https://i.imgur.com/hepj9ZS_d.webp?maxwidth=760&fidelity=grand{{/if}}" style="width: 50px;height: 50px;" class="ms-4 mt-2 rounded-circle">
              </a>
              <div class="d-inline-flex pt-3">
                <a href="/users/{{this.User.id}}/tweets" style="text-decoration: none;">
                  <h5 class="mx-2 d-inline name-text" style="font-size: 16px; font-weight: 600">{{this.User.name}}</h5>
                </a>
                <a class="dark-text" href="/users/{{this.User.id}}/tweets" style="text-decoration: none;">
                  <span class="account-text" style="font-weight: 400; font-size: 14px">@{{this.User.account}}</span>
                </a>
                <span class="gray-text" style="font-size: 14px; padding-top:2.3px;"> · {{relativeTimeFromNow
                  this.createdAt}}</span>
              </div>
            </div>
            <div style="max-width: 528px; margin-left: 85px;">
              <span class="gray-text" style="font-size: 14px">回覆
                <a href="/users/{{../tweet.User.id}}/tweets" style="text-decoration: none;">
                  <span class="dark-text" style="font-size: 14px">
                    @{{../tweet.User.account}}
                  </span>
                </a>
              </span>
              <p class="mb-3 text-break" style="font-size: 16px; margin-top: 10px">{{this.comment}}
              </p>
            </div>
          </div>
          {{/each}}
        </div>
        
      </div>
    </div>

    {{> right-bar}}
  </div>
</main>