<main class="container">
  <div class="row">
    {{>left-bar route='tweets'}}

    <div class="col-md-6" style="max-width: 639px; margin-left: 278px">
      <nav class="navbar navbar-light border-start border-end">
        <a href="/tweets" class="dark-text" style="text-decoration: none;">
          <div class="container-fluid" style="height:59px; margin: 16px 0px 0px 0px;">
            <i class="fa-solid fa-arrow-left d-inline" style="font-size: 1.2em; margin-right: 10px"></i>
            <h4 class="navbar-brand mb-0 h1 fs-4 d-inline"> 推文
            </h4>
          </div>
        </a>
      </nav>

      <div class="d-flex flex-column border">
        {{!-- 貼文 --}}
        <div class="d-flex flex-column border-bottom m-3">
          <div class="d-flex">
            <a href="/users/{{tweet.User.id}}/tweets" style="text-decoration: none;">
              <img class="rounded-circle" src="{{tweet.User.avatar}}" style="width: 50px;height: 50px;" />
            </a>
            <div class="ms-2">
              <h5 class="name-text" style="margin-bottom: 0px;">{{tweet.User.name}}</h5>
              <span class="account-text" style="font-size: 14px">@ {{tweet.User.account}}
            </div>
          </div>

          <p class="desc-text" style="font-size: 1.5em;" class="mt-2 text-break">{{tweet.description}}</p>
          <span class="gray-text" style="font-size: 14px; margin-bottom: 13px">{{formatDateTime tweet.createdAt}}</span>
        </div>

        {{!-- 喜歡、留言次數 --}}
        <div style="font-size: 19px; font-weight: 700" class="mx-3 pb-3 border-bottom">
          <span>{{tweet.repliesCount}}</span><span class="gray-text" style="font-weight:500; margin-right: 15px;"> 回覆</span>
          <span>{{tweet.likesCount}}</span><span class="gray-text" style="font-weight:500"> 喜歡次數</span>
        </div>

        {{!-- icon --}}
        <div class="mx-3 py-3">
          <i class="fa-regular fa-message fa-xl" data-bs-toggle="modal" data-bs-target="#replyTweet{{tweet.id}}"></i>
          {{#if tweet.isLiked}}
          <form action="/tweets/{{tweet.id}}/unlike" method="POST" class="d-inline" style="margin-left: 60px">
              <button type="submit" style="background: none; border: none; cursor: pointer;">
                <i class="fa-solid fa-heart fa-xl" style="color: #e84545;"></i>
              </button>
            </form>
          {{else}}
          <form action="/tweets/{{tweet.id}}/like" method="POST" class="d-inline" style="margin-left: 60px">
            <button type="submit" style="background: none; border: none; cursor: pointer; padding-top:0px">
              <i class="fa-regular fa-heart fa-xl"></i>
            </button>
          </form>
          {{/if}}
        </div>
        {{> reply-modal}}

        {{!-- 留言串 --}}
        {{#each replies}}
        <div class="d-flex align-items-start flex-column border-top" style="min-height: 130px;">
          <div class="align-self-start pt-2">
            <a href="/users/{{this.User.id}}/tweets" style="text-decoration: none;">
              <img src="{{this.User.avatar}}" style="width: 50px;height: 50px;" class="ms-4 rounded-circle">
            </a>
            <div class="d-inline-flex pt-3">
                <h5 class="mx-2 d-inline" style="font-size: 16px; font-weight: 700">
                  <a href="/users/{{this.User.id}}/tweets" class="name-text" style="text-decoration: none;">{{this.User.name}}</a>
                </h5>
                <span class="gray-text" style="font-weight: 400; font-size: 14px">
                  <a class="dark-text" href="/users/{{this.User.id}}/tweets" style="text-decoration: none;">@{{this.User.account}}</a>
                  · {{relativeTimeFromNow this.createdAt}}
                </span>
            </div>
          </div>
          <div style="max-width: 528px; margin-left: 85px;">
            <span class="gray-text" style="font-size: 14px">回覆
              <a href="/users/{{../tweet.User.id}}/tweets" style="text-decoration: none;">
                <span class="dark-text" style="font-size: 14px">
                  @{{../tweet.User.account}}
                </span>
              </a>
            </span>
            <p class="mb-3 text-break" style="font-size: 16px; margin-top: 10px">{{this.comment}}
            </p>
          </div>
        </div>
        {{/each}}
      </div>
    </div>

    {{> right-bar}}
  </div>
</main>