<main class="container">
  <div class="row">
    {{>left-bar route='user'}}

    {{!-- following --}}
    <div class="col-md-6 middle-div p-0" style="border: 1px #E6ECF0 solid;">
      {{>user-header}}
      {{>follow-tabs route='followings'}}
      {{#each followings}}
      <div class="border-bottom d-flex flex-column pt-2 mt-2" style="min-height: 130px; width:100%">
        <div class="d-flex justify-content-between">
          <div class="align-self-start d-inline-flex">
            <a href="/users/{{this.id}}/tweets" style="text-decoration:none;">
              <img src="{{this.avatar}}" title="source: imgur.com" style="width: 50px;height: 50px;" class="ms-4 rounded-circle">
            </a>
            <div class="d-flex align-self-center">
              <a href="/users/{{this.id}}/tweets" style="text-decoration:none;">
                <h5 class="mx-2 name-text">{{this.name}}</h5>
              </a>
            </div>
          </div>
          <div>
            {{#if isNotUser}}
              {{#if this.isFollowed}}
              <form action="/followships/{{this.id}}?_method=DELETE" method="POST" style="display: contents;">
                <button type="submit" class="btn btn-default dark-btn"
                  style="height:40px; font-size: 15px; border-radius: 50px;">正在追蹤</button>
              </form>
              {{else}}
              <form action="/followships/{{this.id}}" method="POST" style="display: contents;">
                <input type="text" name="id" value="{{user.id}}" class="d-none">
                <button type="submit" class="btn btn-outline-light btn-block"
                  style="width:64px; height:40px; font-size: 15px; border-radius: 50px; font-weight: bold;">
                  追蹤
                </button>
              </form>
              {{/if}}
            {{/if}}
          </div>

        </div>
        <div class="align-self-start mt-2" style="max-width: 580px; margin-left:86px;">
          <p>
            {{this.introduction}}
          </p>
        </div>
      </div>
      {{/each}}

    </div>
    {{> right-bar}}
  </div>
</main>